main {
  padding: 110px 185px 79px 10%;
}

.flex {
  display: flex;
}

.a-center {
  align-items: center;
}

.a-start {
  align-items: flex-start;
}

.j-center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

h1 {
  margin: 0;
}

#maincontent {
  margin-top: 48px;
  margin-bottom: 138px;
}

.taskbranch {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap:8px;
}

.left-add {
  align-items: flex-start;
  gap:16px;
}

input, #category, #dropusers {
  width: 440px;
  height: 48px;
}

.divider {
  height: 424px;
  min-width: 1px;
  background-color: #d1d1d1;
  margin: 0px 48px;
}

.right-add {
  align-items: flex-start;
  gap:24px;
}

#foot {
  width: 977px;
}
