@media only screen and (max-width: 1375px) {
  #maincontent {
    flex-direction: column;
    overflow: auto;
    align-items: center;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .divider {
    display: none;
  }
  #main {
    height: auto;
  }
  #foot {
    width: 440px;
  }
  .clear {
    display: none;
  }
  .requiredspan {
    align-self: center;
  }
}

@media only screen and (max-width: 1250px) {
  #main {
    margin-top: 96px;
    padding: 38px 0px 0px 0px;
    align-items: center;
  }
  #maincontent {
    height: 500px;
    margin-top: 25px;
  }
  h1 {
    font-size: 47px;
  }
  #added-to-board-box {
    left: 30%;
  }
}

@media only screen and (max-width: 500px) {
  input:not(#findtask),
  textarea,
  .taskbranch,
  #maincontent,
  .left-add,
  .right-add,
  #foot {
    width: 100% !important;
  }
  .priobutton {
    width: 90px;
    height: 45px;
    font-size: 14px;
  }
  .createtask {
    font-size: 16px;
    padding: 14px 20px;
    width: unset;
    height: unset;
  }
  .requiredspan {
    font-size: 14px;
  }
  #maincontent {
    height: 520px;
  }
  .drop-menu {
    width: 100%;
  }
  #tag-container {
    max-width: 100%;    
    margin-bottom: 10px;
  }
  #added-to-board-box {
    width: 280px;
    left: 2%;
    padding: 10px 5px;
    gap: 16px;
  }
}
