@media (max-width:1400px) {
    #task_todo, #task_progress, #task_feedback, #task_done {
      flex-direction:row;
      justify-content: flex-start;
      overflow-x:auto;
    }
    #board {
      flex-direction:column;
    }
    .taskpit {
      /* width:auto; 
      max-width: calc(100vw-15%); */
    }
    .columnhead {
      align-self: flex-start;
    }
    header {
      position:fixed;
      top:0;
    }
    main {
      margin-top:96px;
      padding-bottom:140px;
      height:auto;
    }
    .searchwrapper {
      left:-135px;
      top:75px;
    }
    #add-task-button {
      position:relative;
      left:-223px;
      width:auto;
    }
    h1 {
      font-size:47px !important;
    }
    .add-button-text {
      display:none;
    }
    #findtask {      
      width: 260px;      
    }
    #boardheader {
      padding: 0px 84px 0px calc(8%+8px);
    }
    .board-head-container {
      justify-content: flex-start;
      max-width: 57px;
    }
    #board {
      margin-top:40px;
    }
    #task-burger {
      display:inline;
    }
}