main {
	margin-left: 232px;
	width: calc(100vw - 232px);
	background-color: var(--bg);
	display: flex;
	/* justify-content: ; */
	align-items: start;
}
#contactList {
	width: 456px;
	background: white;
	height: 100%;
	overflow: scroll;
	padding: 32px 24px 32px 24px;
	box-shadow: 4px 0px 6px 0px #00000014;
	display: inline;
	flex-direction: column;
	align-items: center;
}
#wrapperInfo{
    padding: 28px 0 80px 0;

}


button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 21px;
	font-weight: 700;
	background: var(--join-black);
	border-radius: 10px;
	padding: 16px 0;
	border: none;
}

button.BT-Black:hover {
	background: var(--join-blue);
}

button img {
    margin-left: 16px;
}
a.phone { 
    color: var(--join-black)!important;
}

.heading{
    margin-top: 110px;
    margin-left: 55px;
    display: flex;
    align-items: center;
}
.heading p {
    font-size: 27px;
    font-weight: 400;
}

span.linie {
    background: var(--join-blue);
    height: 59px;
    width: 3px;
    display: inline-block;
    margin: 0 30px;
}

.Buchstabe{
	padding: 17px 36px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
}
#contactList  span.linie{
    width: 100% !important;
    height: 1px !important;
    background-color: #D1D1D1 !important;
    margin: 10px 0 10px 0 !important ;
}

.profileBadge {
	height: 42px;
	width: 42px;
	font-size: 12px;
	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 35px;
	border: 2px solid var(--white);
}
#userInfo #name {
    font-size: 20px;
    font-weight: 400;
}
#userInfo #email {
    font-size: 16px;
    color: #007CEE;
    font-weight: 400;
}

.contactUser {
	display: flex;
	width: 100%;
	padding: 15px 24px 15px 24px;
}


/* ADD CONTACT  */
.wrapper-left {
	background: var(--join-black);
	color: white;
	padding: 48px;
	display: flex;
	align-items: start;
	flex-direction: column;
	justify-content: center;
    border-radius: 30px 0 0 30px;
}
.wrapper-left img {
	width: 55.6px !important;
    height: 66.48px!important;
    margin-bottom: 12px;
}

.wrapper-left .text {
    display: flex;
    flex-direction: column;
}
.wrapper-left .text p {
    font-size: 27px;
    font-weight: 400;
}
.wrapper-left .linie {
    height: 3px;
    background: var(--join-blue);
    width: 90px;
    margin: 16px 0;
}
.wrapper-right {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
	flex-direction: row;
    margin-right: 48px;
}
.cancle {
    background: white;
    border: 1px solid var(--join-black);
    font-size: 20px;
    color: var(--join-black);
    width: 126px;
    margin-right: 24px;
    padding: 16px;
}
.cancle:hover {
	color: var(--join-blue);
	border-color: var(--join-blue);
}
.saveUser {
     Width: 422px;
}
.saveUser input {
    width: 100%;
    border: none;
    font-size: 20px;

}
#updateDeleteImg {
	margin: 0px;
}
.wrapper-input {
    padding: 8px;
    border: 1px solid var(--join-grey);
    border-radius: 10px;
    display: flex;
    margin-bottom: 45px;
}

.badge {
	background-color: var(--join-grey);
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
    margin-right: 83px;
}
.wrapper-right  .wrapper-button {
	display: flex;
}
  .BT-Black {
	width: 214px !important;
}

.overlay, .overlayEdit {
	position: static;
	background-color: rgba(0, 0, 0, 0.094);
	top: 0;
	right: 0;
	overflow: hidden;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#userInfoDetails{
    margin-left: 55px;
    margin-top: 32px;
    justify-content: space-between;
    transform: translateX(1100px);
    -webkit-transform: translateX(1100px);
    -moz-transform: translateX(1100px);
    -ms-transform: translateX(1100px);
    -o-transform: translateX(1100px);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

#addContact, #editContact {
   position: relative;
   width: 1212px;
   height: 592px;
   border-radius: 30px;
   background: white;
   display: none;
   justify-content: space-between;
   transform: translateX(0px);
   transition: transform 0.3s ease-in-out;
   -webkit-transition: transform 0.3s ease-in-out;
   -moz-transition: transform 0.3s ease-in-out;
   -ms-transition: transform 0.3s ease-in-out;
   -o-transition: transform 0.3s ease-in-out;
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -ms-transform: translateX(0px);
   -o-transform: translateX(0px);
}

.close {
    position: absolute;
    top: 35px;
    right: 35px;
    padding: 10px;
}
.close:hover {
    background-color: var(--join-blue);
    position: absolute;
    padding: 10px;
  top: 35px;
  right: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*Aside info*/
.profileBadge.big {
	width: 126px;
	height: 126px;
	border: 3px solid white;
	margin-right: 54px;
	font-size: 47px;
	box-shadow: 0px 0px 4px #0000001A;
}
.editeDeleteWrapper{
    display: flex;
}
.edit,.delete{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.edit:hover, .delete:hover {
    color: var(--join-blue);
}
.edit {
    margin-right: 16px;
}
.edit img {
    margin-right: 10.72px;
}
#userInfoSide {
	display: flex;
	align-items: center;
}

.nameAside{
    font-size: 47px !important;
    line-height: 56.4px;
}

.contactUser:hover {
    background: var(--join-black);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.contactUser:hover #nameContact{
    color: var(--white);
}
#nameContact {
	font-size: 20px;
    margin-bottom: 5px;
}
#emailContact {
	font-size: 16px;
	color: #007CEE;
}

.contactInfo {
    font-size: 20px;
    line-height: 24px;
    margin-top: 59px;
    margin-bottom: 59px;
}

.wrapperE, .wrapperP{
    font-size: 16px;
}
.wrapperE a, .wrapperP a{
    margin-top: 16px;
    color: var(--join-link);
    display: block;
}
.wrapperE a:hover, .wrapperP a:hover{
color: var(--join-blue)!important;
}
.wrapperE{
    margin-bottom: 22px;
}
.wrapperE p:first-child, .wrapperP p:first-child{
    font-weight: 700;

}

#messageBox, #messageBoxCreated {
	top: 100px;
	right: 77px;
	position: absolute;
}

/* UPDATE */

.badge.edit {
	font-size: 47px;
	color: var(--white);
    box-shadow: 0px 0px 4px #0000001A;
    border: 3px solid var(--white);
    margin-right: 72px;
}


#back{
    display: none;
}

.wrapperInnerHeaing {
	display: flex;
	align-items: center;
}


#contactList button:hover {
	background: var(--join-blue);
}



@media only screen and (max-width: 1253px) {
    #allUsers {
        padding: 15px;
    }
    #back {
        display: block !important;
        position: absolute;
        top: 132px;
        right: 16px;
    }
    .more {
        display: block!important;
        background: var(--join-black);
    }
    #contactList {
        width: 100%;
    }


    #contactList button, .more{
        position: fixed;
        bottom: 110px;
        right: 16px;
        width: 56px!important;
        height: 56px!important;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        padding: 12px;
        box-shadow: 0 4px  4px 0px #00000040;
}
#contactList button:hover, .more:hover{
    background: var(--join-blue);
}

.editeDeleteWrapper {
	position: fixed;
	bottom: -143px;
	right: 16px;
	border-radius: 20px 20px 0px 20px;
	-webkit-border-radius: 20px 20px 0px 20px;
	-moz-border-radius: 20px 20px 0px 20px;
	-ms-border-radius: 20px 20px 0px 20px;
	-o-border-radius: 20px 20px 0px 20px;
	padding: 10px !important;
	background: white;
	display: flex;
	flex-direction: column;
	height: 100px !important;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 4px 0px #00000040;
}
.edit, .delete {
    padding: 10px!important;
}

.heading {
	margin-top: 48px;
	margin-left: 16px;
    margin-bottom: 21px;
}
#userInfoDetails{
    margin-left: 16px;
}
.profileBadge.big {
	width: 80px;
	height: 80px;
	font-size: 27px;
	margin-right: 20px;
}
.nameAside{
    font-size: 36px;
}
.editeDeleteWrapper img {
    margin-right: 5px!important;
}
#contactList button img {
    width: 56px;
    margin: 0;
}
#contactList button p{
    display: none;
}
#wrapperInfo {
    position: fixed;
    background: var(--bg);
    height: 100%;
    width: 100%;
    z-index: -2;
    padding: 96px 0px;
}
.heading {
    margin-top: 48px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#editeDeleteWrapper{
    display: none;
}

.wrapper-right {
	flex-direction: column;
}
.overlayEdit, .overlay {
        z-index: 100;
}
.contactInfo {
	margin-top: 20px;
	margin-bottom: 20px;
}
#nameContact {
	font-weight: 700;
}


.wrapper-left img{
    display: none;
}
h1 {
	font-size: 47px;
    margin-bottom: 8px;
}
.wrapper-left {
	height: 352px!important;
    border-radius: 30px 30px 0 0;
}
#editContact, #addContact {
	width: 392px;
    margin:10px;
    height: 760px;
    flex-direction: column;
}
.saveUser {
	Width: 100%;
}
.wrapper-right {
	margin-right: 0 !important;
	padding: 0px 15px 0 15px;
}

.wrapper-input{
    margin-bottom: 24px;
}
.wrapper-button {
	margin-bottom: 62px;
}
.BT-Black, .cancle{
    font-size: 20px;
}
.wrapper-right .BT-Black{
    width: 126px!important;
}
.wrapper-right .wrapper-button {
	justify-content: center;
}
.badge.edit, .badge {
	position: absolute;
	top: 292px;
	margin-right: 0;
    margin-bottom: 32px;
}
#contactList {
	height: 100vh;
    padding: 96px 0 80px 0;
}
#addContact {
	flex-direction: column ;
}
.wrapperInnerHeaing {
	display: flex;
	flex-direction: column-reverse;
	align-items: baseline;
}
span.linie {
	background: var(--join-blue);
	height: 3px;
	width: 90px;
	display: inline-block;
	margin: 30px 0;
}
}
