@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v13-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/inter-v13-latin-900.woff2') format('woff2');
}

body {
  margin: 0;  
  font-family: 'Inter', sans-serif; 
}

#menubar {
  position:fixed;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width:  232px;
  height: 100vh;
  padding: 64px 0px 64px 0px;
  background-color: #2a3647;
  position: fixed;
  top: 0;
}

#menulogo {
  width: 100.03px;
  height: 121.97px;
  margin-bottom: 114.02px;
}

#menucontent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

a {
  text-decoration: none;
  color: #cdcdcd;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 56px;
}

nav a {
  &:not(.selectedMenu):hover {
    background-color: #2a3e59;
  }
}

#policies {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

#policies a {
  &:not(.selectedMenu):hover {
    color: #29abe2 !important;
    font-weight: bold;
  }
}

.selectedMenu {
  color: white;
  background-color: #091931;
  cursor: default;
}

.selectedImg {
  filter: brightness(150%);
}

header, #headend, #headeruser {
  display:flex;
  align-items: center;
}

header {
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin-left:232px;
  padding:20px 40px 20px 116px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  height:96px;
  width:calc(100% - 232px);
}

header span {
  font-size:24px;
}

#headend {
  gap:16px;  
}

#headeruser {
  height:56px;
  width:56px;
  border-radius: 50%;
  border: solid 3px #2A3647;
  justify-content: center;
}

#headeruser span {
  font-size:24px;
  color:#29ABE2;
  font-weight: bold;
}

#headeruser:hover {
  background-color: #E1E6EC;
  cursor: pointer;
}

#headend img:hover {
  transform:scale(1.2);
  cursor: pointer;
}

main {
  margin-left:232px;  
  width:calc(100vw - 232px);
  height:calc(100vh - 96px);  
  background-color: #F6F7F8;
}
