<body>
  <img class="headerlogo" src="./img/join-logo.svg" alt="Join Logo" />
  <span class="infoText">Kanban Project Management Tool</span>
  <div id="headend">
    <a href="/help.html" id="help-button"><img src="./img/help.svg" alt="help"/></a>
    <div class="popup" onclick="openPopUp()" id="headeruser">GU</div>
    <div id="popupContainer" class="popupContainer">
      <div class="popupContent">
        <p class="popupButton"><a href="./legal.html">Legal Notice</a></p>
        <p class="popupButton"><a href="./privacy.html">Privacy Policy</a></p>
        <p class="popupButton" onclick="logout()">Log out</p>
      </div>
    </div>
</body>
