<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../css/menubar.css">
    <script src="../js/menubar.js"></script>
</head>
<body>
    <div id="menubar">
        <img src="../img/logo.png" alt="logo" id="menulogo">
        <div id="menucontent">
          <nav>
              <a href="../summary.html" id="summary" onclick= "menuSelected(id)"><img src="../img/summary.png" alt="">Summary</a>
              <a href="../add_task.html" id="addTask" onclick= "menuSelected(id)"><img src="../img/addtask.png" alt="">Add Task</a>
              <a href="../board.html" id="board" onclick= "menuSelected(id)"><img src="../img/board.png" alt="">Board</a>
              <a href="../contact.html" id="contacts" onclick= "menuSelected(id)"><img src="../img/contacts.png" alt="">Contacts</a>
          </nav>
          <div id="policies">
              <a href="../privacy.html" id="privacy" onclick= "menuSelected(id)">Privacy Policy</a>
              <a href="../legal.html" id="legal" onclick= "menuSelected(id)">Legal notice</a>
          </div>
        </div>
    </div>    
</body>
</html>