<body>
    <div id="menubar">
        <img src="../img/logo.png" alt="logo" id="menulogo">
        <div id="menucontent">
          <nav>
              <a href="./summary.html" id="Join-Summary"><img src="../img/summary.png" alt="">Summary</a>
              <a href="./add_task.html" id="Join-Add-Task"><img src="../img/addtask.png" alt="">Add Task</a>
              <a href="./board.html" id="Join-Board"><img src="../img/board.png" alt="">Board</a>
              <a href="./contact.html" id="Join-Contacts"><img src="../img/contacts.png" alt="">Contacts</a>
          </nav>
          <div id="policies">
              <a href="../privacy.html" id="Join-Privacy-Policy">Privacy Policy</a>
              <a href="../legal.html" id="Join-Legal-Notice">Legal Notice</a>
          </div>
        </div>
    </div>    
</body>